<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>メール送信完了</h1>
      <p>以下の内容でメールを送信しました</p>
    <div>
    <strong>タイトル:</strong>
    <%= @notice.title %>
    </div>
    <div>
    <strong>本文:</strong>
    <%= @notice.body %>
    </div>
    </div>
  </div>
</div>